*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../css/fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  }
body{
  font-family: "Noto Sans", sans-serif;
}
.mobile-menu{
  display: none;
}
.container{
  max-width: 90rem;
  margin: auto;
}
.navbar{
  display: flex;
  align-items: center;
  color: white;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.20);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light{
  background-color: #fff;
  color: #292D33;
  height: 4.625rem;
}
.phone-svg{
  fill:#5C8EE6;
}
.logo{
  display: none;
}
.logo-svg{
  width: 8.75rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path{
  fill: #292D33;
}
.header{
  padding-top: 5.875rem;
}
.header-image{
  background-image: url("../img/header-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.60);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.navbar-logo{
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.20);
  height: 100%;
}
.header-nav{
  align-items: center;
  height: 100%;
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item{
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child){
  margin-right: 3.125rem;
}
.header-nav-link{
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  letter-spacing: 0.17px;
  position: relative;
}
.header-nav-link:after{
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5C8EE6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after{
  width: 100%;
  right: auto;
  left: 0;
}
.header-phone{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-right: 3.125rem;
}
.header-phone-link{
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button{
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  color: white;
  background: #3A71D1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button{
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.1875rem;
  letter-spacing: 0.2px;
}
.navbar-button .button-icon{
  display: none;
}
.header-button{
  letter-spacing: 0.1px;
}
.seporator{
  background: #5C8EE6;
  width: 9.375rem;
  height: .125rem;
}
.header-content{
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: white;
}
.header-title{
  max-width: 67.5rem;
  font-family: "BebasNeue";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.4375rem 0px 2.4375rem 0px;
  letter-spacing: 0.8px;
  word-spacing: -1.6px;
}
.header-text{
  max-width: 45rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.125rem;
  letter-spacing: 0.19px;
  word-spacing: -0.4px;
}
.header-features{
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: white;
  position: relative;
  margin-bottom: 0;
}
.header-features-item{
  padding: 1.875rem 3.125rem;
  height: auto;
  width: 18rem;
  border: 1px solid rgba(235, 235, 240, 0.20);
}
.slider-buttons{
  display: none;
  height: 44px;
}
.slider-button-prev, .slider-button-next{
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-features-text{
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: -0.0625rem;
}
.section{
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-title{
  font-family: "BebasNeue";
  color:#292D33;
  font-size: 3.75rem;
  line-height: 120%;
  letter-spacing: 0.45px;
  margin: 1.5rem 0px 3.25rem 0px;
}
.steps{
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 16.9375rem;
}
.steps-item{
  max-width: 20.625rem;
  height: auto;
}
.steps-num{
  color:#5C8EE6;
  font-family: "BebasNeue";
  font-size: 3rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.8px;
}
.steps-num::after{
  content: "";
  height: 1px;
  background: rgb(235, 235, 240);
  width: 100%;
  margin-left: 1.875rem;
}
.steps-title{
  color: var(--txt, #292D33);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2.125rem;
  margin-bottom: .6875rem;
  width: 18.75rem;
  letter-spacing: 0.17px;
}
.steps-text{
  color:#828A99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
  width: 18.75rem;
  letter-spacing: 0.15px;
}
.steps-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color:#5C8EE5;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.2px;
}
.steps-link::before{
  content: "";
  height: 1px;
  background: #5C8EE5;
  width: 2.5rem;
  margin-right: 1.25rem;
  transition: width 0.2s;
}
.steps-link:hover::before{
  width: 3.75rem;
}
.steps-buttons{
  display: none;
  height: 40px;
  justify-content: flex-end;
}
.steps-button-prev, .steps-button-next{
  background: #5C8EE6;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cards{
  display: flex;
  flex-wrap: wrap;
}
.card{
  flex-basis: 33%;
  border: 1px solid #EBEBF0;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
  max-height: 37.1875rem;
}
.card:hover .card-title{
  color: #5C8EE6;
}
.card:hover{
  border-color: #5C8EE6;
}
.card-content{
  padding: 2.5rem 3.125rem;
}
.card-title{
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 140%;
  color: #292D33;
  margin-top: 0;
  margin-bottom: .625rem;
  transition: color 0.2s;
}
.card-text{
  color: #828A99;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 24.625rem;
}
.card-image{
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 0;
  position: absolute;
}
.trademark-cards{
  display: flex;
}
.trademark-card{
  flex-basis: 50%;
  border: 1px solid #EBEBF0;
  text-decoration: none;
  transition: border 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 3.125rem;
  grid-template-areas:
   "logo title title"
   "logo text text";
   margin-top: 4px;
   height: 280px;
}
.trademark-card-logo{
  width: 100%;
  height: 100%;
  grid-area: logo;
  fill: #828A99;
}
.trademark-card-title{
  grid-area: title;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  color: #292D33;
  transition: color 0.2s;
  margin: 0;
}
.trademark-card-text{
  grid-area: text;
  font-style: normal;
  color: #828A99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: .625rem;
  margin-right: 2.8px;
}
.trademark-card:hover{
  border-color: #5C8EE6;
}
.trademark-card:hover .trademark-card-logo{
  fill: #5C8EE6;
}
.trademark-card:hover .trademark-card-title{
  color: #5C8EE6;
}
@media(max-width:1700px){
  html{
    font-size: 14px;
  }
}
/* Для экранов 1600px */
@media(max-width:1460px){
  html{
    font-size: 13px;
  }
  .navbar-logo{
    padding: 2rem;
  }
  .logo-svg{
    max-width: 6rem;
  }
  .header-nav{
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child){
    margin-right: 1rem;
  }
  .header-phone{
    margin-right: 2rem;
  }
}
/* Для экранов 1440px */
@media(max-width:1400px){
  html{
    font-size: 12px;
  }
}
/* Для экранов 1366px и 1280px */
@media(max-width:1200px) {
  .container{
    max-width: 70rem;
  }
  .header-phone{
    display:none;
  }
  .navbar{
    height: 5.7rem;
  }
  .navbar-button{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .slider-buttons{
    display: flex;
  }
  .steps-buttons{
    display: flex;
  }
  .card{
    flex-basis: 50%;
  }
  .trademark-card{
    grid-template-columns: 100px auto;
  }
}
@media(max-width:992px){
  html{
    font-size: 12px;
  }
  .container{
    max-width: 60rem;
  }
  .header-nav{
    display: none;
  }
  .navbar-logo{
    flex-grow: 1;
    justify-content: center;
  }
  .logo-svg{
    max-width: 10rem;
  }
  .navbar-button{
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
  .mobile-menu-toggle{
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.29rem 2.4rem;
    border-right: 1px solid rgba(235, 235, 240, 0.20);
  }
  .navbar-light .mobile-menu-line{
    background-color: #333;
  }
  .mobile-menu-line{
    height: 1px;
    background-color:#fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2){
    width: 80%;
  }
  .navbar-button .button-text{
    display: none;
  }
  .navbar-button .button-icon{
    display: block;
    fill:#ffffff;
  }
  .mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open{
    display: block;
  }
  .mobile-menu-nav{
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item{
    margin-bottom: 2rem;
  }
  .mobile-menu-link{
    text-decoration: none;
    color: #292D33;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
  }
  .mobile-submenu{
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 160%;
    color: #828A99;
  }
  .mobile-phone{
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    text-decoration-line: underline;
    color: #292D33;
    border-top: 1px solid #EBEBF0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address, .mobile-info-email{
    text-decoration: none;
    font-style: normal;
    color: #292D33;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .mobile-social-media-nav{
    list-style-type: none;
    display:inline-flex;
    gap: 2rem;
    padding: 0;
    width: 4rem;
    height: 1.5rem;
  }
  .close-menu .mobile-menu-line:nth-child(2){
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1){
    transform: rotate(45deg) translateY(9px);

  }
  .close-menu .mobile-menu-line:nth-child(3){
    transform: rotate(-45deg) translateY(-9px);
  }
  .header-features{
    margin-top: 4.1rem;
  }
  .header-features-item{
    height: 140px;
    width: 337px;
  }
  .steps-num{
    font-size: 4rem;
  }
  .trademark-cards{
    flex-direction: column;
  }
}
@media (max-width: 768px){
  .container{
    max-width: 40rem;
  }
  .seporator{
    background: #5C8EE6;
    width: 8.3rem;
    height: .143rem;
  }
  .header-title{
    font-size: 4rem;
    letter-spacing: 0.4px;
    margin: 1.3rem 0 1.3rem 0;
  }
  .header-content{
    padding-top: 4rem;
  }
  .header-text{
    font-size: 14px;
    margin-bottom: 2.425rem;
  }
  .header-button{
    height: 62px;
    display: flex;
    justify-content: center;
    width: 345px;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.2px;
  }
  .section-title{
    font-size: 3rem;
    margin-bottom: 2.4rem;
    letter-spacing: 0.1px;
  }
  .card{
    flex-basis: 100%;
  }
  .steps-title{
    font-size: 1.66rem;
    margin-top: 1.1rem;
    letter-spacing: 0.1px;
  }
  .steps-text{
    font-size: 1.12rem;
    width: auto;
    letter-spacing: 0.15px;
    word-spacing: 2px;
    margin-bottom: 2.1rem;
  }
  .steps-link{
    font-size: 14px;
    word-spacing: 1.5px;
  }
  .steps-link::before{
    width: 3.3rem;
    margin-right: 1.8rem;
  }
}
@media (max-width: 576px){
  .container{
    max-width: 100%;
    margin-right: 15px;
    margin-left: 15px;
  }
  .section{
    margin-top: 8.3rem;
    margin-bottom: 8.3rem;
  }
  .header-features-item {
    padding: 1.55rem 2.4rem;
  }
  .header-features-text{
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 18px;
    letter-spacing: 0.1px;
  }
  .steps{
    max-height: none;
  }
  .card-content{
    padding: 1.5rem 2.45rem;
    max-height: 35.9rem;
  }
  .card-title{
    font-size: 1.67rem;
    letter-spacing: 0.1px;
  }
  .card-text{
    font-size: 1.17rem;
    margin-top: 0;
    letter-spacing: 0.05px;
  }
  .trademark-card{
    max-width: 28.75rem;
    max-height: 22.33rem;
    padding: 2.4rem;
    grid-template-areas:
     "logo title"
     "text text";
     grid-column-gap: 2.5rem;
     grid-row-gap: 1.67rem;
     margin-top: 0;
  }
  .trademark-card-logo{
    width: 8.33rem;
    height: 8.33rem;
  }
  .trademark-card-title{
    font-size: 1.67rem;
  }
  .trademark-card-text{
    font-size: 1.17rem;
    margin-bottom: 0;
    margin-top: 0.1rem;
    margin-right: 0;
  }
}